@font-face {
    font-family: main;
    src: url(HelveticaLight.ttf) format("truetype");
}
body{
    font-family: main;
}
*{
    text-decoration: none;
    list-style: none;
    color: white;
}
body{
    margin: 0px;
}
.body-wrapper{
    background-color: #f5f6f9;
}
header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #656b73;
}
.logo-wrapper{
    display: flex;
}

.logo-ded{
    margin: 5.5px;
}
.title-title-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-upper{
    margin-top:18px;
    font-size: 24px;
}
.title-lower{
    font-size: 16px;
    font-style: italic;
}

.menu-header-wrapper{
    font-size: 14px;
    width: 900px;
}
.menu-header-list{
    padding: 0px;
    width: inherit;
    display: flex;
    justify-content: space-around;
}

.menu-header-sub-list{
    padding: 0px;
    display: none;
}
.search-wrapper{
    width: 218.45px;
    display: flex;
    align-items: center;
}
input[name="search-top-box"]{
    font-size: 12px;
    font-family: main;
    color: black;
    border: none;
    background-color: #c9cecd;
    width: 150px;
    height: 20px;
    float: left;
}
input[name="submit-top-button"]{
    margin-left: 8px;
    outline: none;
    border: none;
}
.menu-header-list li:hover{
    text-decoration: underline;
}
.menu-header-list li:hover .menu-header-sub-list{
    display: block;
    text-decoration: none;
}
.under-header{
    margin: 19px 20px 0px 20px;
}
.aside-wrapper{
    background-color: #dfdadf;
    width: 15.625%;
}
.aside-left-bar-photo{
    width: 100px;
    height: 100px;
}

